html {
  --primary-dark-color: hsl(329, 62%, 24%);
  --primary-color: hsl(329, 62%, 44%);
  --primary-light-color: hsl(329, 62%, 64%);

  --page-background-color: white;
  --page-foreground-color: hsl(329, 62%, 24%);
  --page-secondary-foreground-color: hsl(329, 62%, 44%);
}
